{% extends 'admin_home.html' %}
{% block header_title %}
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold mb-4">
            <i class="fas fa-file-invoice-dollar"></i>
            View Fines
        </h2>
        <div class="mb-4">
            <form method="GET" action="{{ url_for('admin.admin_view_fines') }}">
                <input type="text" name="student_id" placeholder="Search by Student ID" value="{{ std_id }}" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Search</button>
            </form>
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <form method="GET" action="{{ url_for('admin.admin_view_fines') }}" id="filterForm" class="flex items-center space-x-4">
            <div>
                <label for="fine_category" class="block text-sm font-medium text-gray-700">Category:</label>
                <select name="fine_category" id="fine_category" class="mt-1 block w-full py-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <option value="">All</option>
                    {% for category in fine_categories %}
                        <option value="{{ category.type }}" {% if request.args.get('fine_category') == category.type %}selected{% endif %}>{{ category.type }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="due_date" class="block text-sm font-medium text-gray-700">Due Date:</label>
                <input type="date" name="due_date" id="due_date" value="{{ request.args.get('due_date', '') }}" class="mt-1 block w-full py-1 px-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>

            <div>
                <label for="status" class="block text-sm font-medium text-gray-700">Status:</label>
                <select name="status" id="status" class="mt-1 block w-full py-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <option value="">All</option>
                    <option value="pending" {% if request.args.get('status') == 'pending' %}selected{% endif %}>Pending</option>
                    <option value="paid" {% if request.args.get('status') == 'paid' %}selected{% endif %}>Paid</option>
                </select>
            </div>
            
            <div>
                <button type="submit" class="hidden bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Apply Filters</button>
            </div>
        </form>
    </div>
    {% endblock %}

    {% block main_content %}
    <div class="bg-white shadow rounded-lg p-6 flex flex-col h-full"> 
    <div class="overflow-auto flex-grow"> 
        <table class="min-w-full leading-normal">
            <thead class="bg-gray-100 sticky top-0 z-1">  
                <tr>
                    <th class="px-3 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Transaction ID
                    </th>
                    <th class="px-3 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Student Name
                    </th>
                    <th class="px-3 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Fine Category
                    </th>
                    <th class="px-3 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Amount
                    </th>
                    <th class="px-3 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Due Date
                    </th>
                    <th class="px-3 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Status
                    </th>
                    <th class="px-3 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for fine in fines %}
                    <tr>
                        <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                            {{ fine.student_id }}
                        </td>
                        <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                            {{ fine.student_name }}
                        </td>
                        <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                            {{ fine.fine_category }}
                        </td>
                        <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                            {{ fine.amount }}
                        </td>
                        <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                            {{ fine.due_date }}
                        </td>
                        <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                            {{ fine.status }}
                        </td>
                        <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                            {% if fine.status == 'pending' %}
                            <form method="POST" action="/admin/fines/{{ fine._id }}/pay">
                                <button 
                                    type="submit" 
                                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline"
                                    >Accept Payment</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterForm = document.getElementById('filterForm');
        const fineCategorySelect = document.getElementById('fine_category');
        const dueDateInput = document.getElementById('due_date');
        const statusSelect = document.getElementById('status');

        // Optional: You can add event listeners to the filter elements to submit the form on change
        fineCategorySelect.addEventListener('change', function() {
            filterForm.submit();
        });

        dueDateInput.addEventListener('change', function() {
            filterForm.submit();
        });

        statusSelect.addEventListener('change', function() {
            filterForm.submit();
        });
    });
</script>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="flash-messages z-100 absolute top-4 right-4" style="width: 300px;">
        {% for category, message in messages %}
            {% if category == '0' %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2 flex items-center justify-between" role="alert">  
            {% else %}
                <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-2 flex items-center justify-between" role="alert">  
            {% endif %}
            <div class="flex-grow">
                <strong class="font-bold">{{ message }}</strong>
            </div>
            <span class="cursor-pointer close-flash">
                {% if category == '0' %}
                    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                {% else %}
                    <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                {% endif %}
                <title>Close</title>
                <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const flashMessages = document.querySelectorAll('.flash-messages > div');

        flashMessages.forEach(flash => {
            setTimeout(() => {
                flash.style.transition = 'opacity 0.5s ease-in-out';
                flash.style.opacity = '0';
                setTimeout(() => {
                    flash.remove();
                }, 500); // Remove after fade out
            }, 5000); // 3 seconds timeout

            const closeButton = flash.querySelector('.close-flash');
            if (closeButton) {
                closeButton.addEventListener('click', () => {
                    flash.remove();
                });
            }
        });
    });
</script>
{% endblock %}